.icon-attendees-linkedin { background-image: url(png/attendees-linkedin.png); background-repeat: no-repeat; }

.icon-attendees-twitter { background-image: url(png/attendees-twitter.png); background-repeat: no-repeat; }

.icon-attendees-website { background-image: url(png/attendees-website.png); background-repeat: no-repeat; }

.icon-credit { background-image: url(png/credit.png); background-repeat: no-repeat; }

.icon-footer-mail { background-image: url(png/footer-mail.png); background-repeat: no-repeat; }

.icon-footer-rss { background-image: url(png/footer-rss.png); background-repeat: no-repeat; }

.icon-footer-twitter { background-image: url(png/footer-twitter.png); background-repeat: no-repeat; }

.icon-header-cal { background-image: url(png/header-cal.png); background-repeat: no-repeat; }

.icon-header-pin { background-image: url(png/header-pin.png); background-repeat: no-repeat; }

.icon-logo-icon { background-image: url(png/logo-icon.png); background-repeat: no-repeat; }

.icon-logo-large { background-image: url(png/logo-large.png); background-repeat: no-repeat; }

.icon-menu-attendees i { background-image: url(png/menu-attendees.png); background-repeat: no-repeat; }

.icon-menu-blog i { background-image: url(png/menu-blog.png); background-repeat: no-repeat; }

.icon-menu-close { background-image: url(png/menu-close.png); background-repeat: no-repeat; }

.icon-menu-community i { background-image: url(png/menu-community.png); background-repeat: no-repeat; }

.icon-menu-home i { background-image: url(png/menu-home.png); background-repeat: no-repeat; }

.icon-menu-jobs-board i { background-image: url(png/menu-jobs-board.png); background-repeat: no-repeat; }

.icon-menu-past-events i { background-image: url(png/menu-past-events.png); background-repeat: no-repeat; }

.icon-menu-registration i { background-image: url(png/menu-registration.png); background-repeat: no-repeat; }

.icon-menu-schedule i { background-image: url(png/menu-schedule.png); background-repeat: no-repeat; }

.icon-menu-sessions i { background-image: url(png/menu-sessions.png); background-repeat: no-repeat; }

.icon-menu-sponsors i { background-image: url(png/menu-sponsors.png); background-repeat: no-repeat; }

.icon-menu-submenu-close { background-image: url(png/menu-submenu-close.png); background-repeat: no-repeat; }

.icon-menu-submenu  { background-image: url(png/menu-submenu.png); background-repeat: no-repeat; }

.icon-menu-tickets i { background-image: url(png/menu-tickets.png); background-repeat: no-repeat; }

.icon-menu-training i { background-image: url(png/menu-training.png); background-repeat: no-repeat; }

.icon-menu { background-image: url(png/menu.png); background-repeat: no-repeat; }

.icon-organiser-linkedin { background-image: url(png/organiser-linkedin.png); background-repeat: no-repeat; }

.icon-organiser-twitter { background-image: url(png/organiser-twitter.png); background-repeat: no-repeat; }

.icon-organiser-website { background-image: url(png/organiser-website.png); background-repeat: no-repeat; }
